In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.tail()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data = np.array(data) #Creating numpy array (Matrics)

In [6]:
data

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [7, 0, 0, ..., 0, 0, 0],
       [6, 0, 0, ..., 0, 0, 0],
       [9, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
data.shape[0] #Gives Number of rows

42000

In [8]:
data.shape[1] #Gives number of columns

785

In [9]:
m,n = data.shape

In [10]:
m #Number of rows

42000

In [11]:
n #Number of columns

785

In [12]:
np.random.shuffle(data) # shuffle before splitting into dev and training sets

In [13]:
data

array([[3, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [2, 0, 0, ..., 0, 0, 0],
       [2, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
data[0:1000] #Selecting rows from index 0 to 1000

array([[3, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [4, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:
data_dev = data[0:1000].T #Transpose of the array

In [16]:
data_dev.shape

(785, 1000)

In [17]:
data_dev

array([[3, 3, 1, ..., 4, 3, 3],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
Y_dev = data_dev[0] #Gives elements of first row

In [19]:
Y_dev

array([3, 3, 1, 3, 7, 1, 4, 6, 3, 3, 7, 1, 3, 6, 2, 2, 3, 7, 8, 5, 5, 7,
       8, 0, 5, 4, 2, 4, 2, 3, 9, 2, 5, 0, 3, 5, 8, 0, 6, 8, 4, 5, 2, 7,
       0, 6, 6, 7, 9, 7, 7, 5, 7, 0, 0, 9, 1, 1, 7, 5, 9, 9, 2, 7, 4, 2,
       5, 6, 8, 8, 1, 4, 5, 0, 7, 0, 1, 9, 5, 8, 8, 0, 3, 5, 3, 3, 3, 4,
       3, 1, 2, 7, 1, 9, 1, 1, 7, 5, 2, 9, 6, 0, 1, 9, 2, 1, 4, 9, 1, 3,
       1, 4, 1, 7, 2, 7, 4, 9, 1, 8, 6, 7, 4, 7, 8, 6, 1, 4, 9, 1, 4, 5,
       8, 1, 2, 6, 4, 4, 6, 6, 3, 4, 2, 9, 5, 7, 4, 9, 7, 3, 4, 3, 8, 5,
       5, 2, 4, 8, 3, 3, 4, 9, 8, 4, 9, 8, 7, 6, 9, 7, 8, 6, 0, 6, 0, 6,
       4, 3, 7, 7, 5, 2, 1, 1, 0, 7, 0, 1, 7, 7, 0, 4, 5, 1, 7, 1, 1, 7,
       3, 6, 4, 5, 4, 2, 2, 3, 3, 7, 0, 1, 5, 5, 8, 7, 1, 3, 8, 2, 3, 4,
       5, 0, 2, 0, 8, 1, 9, 5, 3, 0, 9, 6, 3, 9, 2, 7, 4, 0, 4, 8, 7, 1,
       7, 4, 4, 2, 8, 3, 6, 3, 9, 5, 8, 9, 4, 6, 8, 9, 7, 7, 4, 8, 0, 2,
       4, 6, 5, 2, 3, 3, 0, 3, 3, 5, 7, 7, 4, 8, 0, 6, 7, 2, 1, 8, 7, 4,
       7, 0, 9, 4, 1, 1, 9, 4, 8, 2, 7, 7, 1, 8, 3, 7, 3, 8, 8, 5, 9, 9,
       5, 3, 3, 0, 1, 0, 5, 6, 2, 2, 9, 6, 6, 4, 9, 6, 7, 3, 3, 9, 7, 4,
       1, 5, 0, 5, 6, 2, 3, 9, 9, 2, 1, 2, 0, 3, 0, 1, 3, 2, 0, 0, 9, 7,
       0, 8, 0, 2, 5, 9, 2, 4, 3, 4, 2, 5, 4, 5, 9, 5, 1, 8, 5, 3, 1, 4,
       3, 3, 5, 2, 1, 0, 2, 3, 7, 4, 4, 7, 0, 8, 3, 2, 7, 2, 5, 1, 4, 1,
       1, 5, 4, 1, 2, 0, 3, 7, 8, 1, 0, 6, 3, 5, 8, 4, 9, 0, 1, 4, 6, 9,
       2, 5, 3, 0, 6, 4, 9, 5, 8, 7, 0, 4, 2, 1, 8, 4, 0, 7, 5, 3, 7, 7,
       6, 9, 4, 3, 7, 8, 6, 4, 9, 9, 1, 3, 4, 6, 0, 8, 1, 2, 8, 8, 2, 3,
       9, 0, 5, 1, 9, 9, 7, 1, 4, 6, 7, 7, 2, 1, 7, 0, 4, 4, 4, 7, 8, 8,
       5, 5, 5, 1, 9, 9, 1, 7, 2, 5, 4, 6, 2, 5, 8, 4, 4, 1, 2, 9, 0, 4,
       2, 0, 6, 3, 9, 7, 0, 5, 0, 3, 4, 8, 2, 0, 3, 5, 6, 1, 6, 8, 4, 6,
       1, 9, 3, 4, 6, 9, 0, 9, 7, 0, 8, 6, 6, 9, 2, 8, 6, 0, 7, 2, 8, 8,
       3, 7, 1, 6, 7, 3, 7, 9, 2, 7, 0, 8, 9, 7, 4, 8, 8, 6, 8, 4, 8, 4,
       3, 7, 0, 3, 2, 1, 3, 1, 1, 4, 7, 7, 6, 3, 8, 9, 6, 6, 0, 4, 6, 9,
       2, 1, 1, 4, 8, 9, 3, 7, 5, 6, 2, 5, 7, 3, 7, 6, 3, 3, 0, 3, 1, 8,
       2, 0, 1, 4, 6, 1, 4, 3, 9, 1, 1, 9, 9, 8, 9, 2, 4, 8, 3, 9, 1, 3,
       1, 1, 1, 5, 2, 1, 0, 6, 3, 0, 0, 9, 7, 1, 9, 9, 3, 5, 6, 8, 0, 0,
       2, 2, 1, 0, 1, 1, 4, 1, 9, 2, 6, 5, 2, 9, 7, 8, 2, 9, 2, 8, 8, 4,
       4, 1, 3, 3, 6, 0, 5, 0, 1, 7, 6, 7, 7, 7, 7, 4, 2, 6, 1, 6, 6, 0,
       5, 4, 5, 4, 5, 2, 3, 9, 9, 5, 8, 4, 6, 3, 4, 2, 4, 3, 3, 8, 5, 2,
       2, 9, 3, 1, 2, 3, 0, 2, 3, 7, 2, 9, 4, 8, 9, 0, 4, 5, 3, 4, 1, 1,
       9, 8, 3, 2, 6, 6, 5, 2, 9, 3, 0, 9, 6, 3, 9, 1, 6, 1, 9, 2, 9, 7,
       9, 2, 5, 2, 7, 3, 9, 9, 3, 1, 5, 8, 9, 1, 7, 2, 0, 4, 7, 5, 5, 1,
       1, 8, 2, 6, 1, 7, 3, 4, 5, 9, 5, 7, 4, 7, 1, 7, 7, 8, 5, 1, 5, 8,
       6, 6, 4, 2, 3, 6, 9, 4, 1, 6, 8, 5, 5, 8, 1, 7, 9, 9, 5, 3, 5, 3,
       4, 6, 8, 4, 7, 3, 4, 3, 6, 1, 3, 0, 5, 3, 1, 0, 6, 7, 7, 0, 2, 8,
       7, 3, 5, 8, 3, 4, 9, 1, 2, 5, 4, 7, 3, 5, 5, 1, 6, 5, 2, 3, 8, 6,
       7, 9, 0, 1, 8, 9, 8, 1, 0, 6, 4, 7, 8, 7, 8, 6, 0, 2, 3, 8, 4, 7,
       3, 7, 0, 1, 0, 3, 5, 5, 8, 6, 5, 7, 4, 8, 4, 5, 3, 0, 2, 3, 3, 1,
       1, 5, 4, 2, 0, 6, 7, 2, 6, 8, 7, 9, 1, 5, 1, 1, 9, 4, 0, 9, 5, 9,
       3, 5, 7, 6, 9, 7, 3, 4, 8, 1, 7, 7, 4, 9, 8, 7, 0, 6, 1, 5, 1, 3,
       4, 5, 0, 7, 6, 1, 5, 9, 6, 1, 1, 2, 2, 8, 6, 9, 9, 1, 7, 3, 0, 1,
       8, 5, 1, 3, 9, 7, 7, 4, 3, 3], dtype=int64)

In [20]:
X_dev = data_dev[1:n] #Selecting rows from index 1 to n(in this case n=785)

In [21]:
X_dev

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
X_dev = X_dev / 255.

In [23]:
X_dev

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [24]:
data_train = data[1000:m].T

In [25]:
Y_train = data_train[0]

In [26]:
X_train = data_train[1:n]

In [27]:
X_train = X_train / 255.

In [28]:
_,m_train = X_train.shape

In [29]:
def init_params():
    W1 = np.random.rand(10, 784) - 0.5
    b1 = np.random.rand(10, 1) - 0.5
    W2 = np.random.rand(10, 10) - 0.5
    b2 = np.random.rand(10, 1) - 0.5
    return W1, b1, W2, b2

In [30]:
def ReLU(Z):
    return np.maximum(Z, 0)

In [31]:
def softmax(Z):
    A = np.exp(Z) / sum(np.exp(Z))
    return A

In [32]:
def forward_prop(W1, b1, W2, b2, X):
    Z1 = W1.dot(X) + b1
    A1 = ReLU(Z1)
    Z2 = W2.dot(A1) + b2
    A2 = softmax(Z2)
    return Z1, A1, Z2, A2

In [33]:
def ReLU_deriv(Z):
    return Z > 0

In [34]:
def one_hot(Y):
    one_hot_Y = np.zeros((Y.size, Y.max() + 1))
    one_hot_Y[np.arange(Y.size), Y] = 1
    one_hot_Y = one_hot_Y.T
    return one_hot_Y

In [35]:
def backward_prop(Z1, A1, Z2, A2, W1, W2, X, Y):
    one_hot_Y = one_hot(Y)
    dZ2 = A2 - one_hot_Y
    dW2 = 1 / m * dZ2.dot(A1.T)
    db2 = 1 / m * np.sum(dZ2)
    dZ1 = W2.T.dot(dZ2) * ReLU_deriv(Z1)
    dW1 = 1 / m * dZ1.dot(X.T)
    db1 = 1 / m * np.sum(dZ1)
    return dW1, db1, dW2, db2

In [36]:
def update_params(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha):
    W1 = W1 - alpha * dW1
    b1 = b1 - alpha * db1    
    W2 = W2 - alpha * dW2  
    b2 = b2 - alpha * db2    
    return W1, b1, W2, b2

In [37]:
def get_predictions(A2):
    return np.argmax(A2, 0)

In [38]:
def get_accuracy(predictions, Y):
    print(predictions, Y)
    return np.sum(predictions == Y) / Y.size

In [39]:
def gradient_descent(X, Y, alpha, iterations):
    W1, b1, W2, b2 = init_params()
    for i in range(iterations):
        Z1, A1, Z2, A2 = forward_prop(W1, b1, W2, b2, X)
        dW1, db1, dW2, db2 = backward_prop(Z1, A1, Z2, A2, W1, W2, X, Y)
        W1, b1, W2, b2 = update_params(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha)
        if i % 10 == 0:
            print("Iteration: ", i)
            predictions = get_predictions(A2)
            print(get_accuracy(predictions, Y))
    return W1, b1, W2, b2

In [40]:
W1, b1, W2, b2 = gradient_descent(X_train, Y_train, 0.10, 300)

Iteration:  0
[7 7 5 ... 7 7 7] [1 3 7 ... 1 2 2]
0.06317073170731707
Iteration:  10
[1 2 5 ... 1 1 0] [1 3 7 ... 1 2 2]
0.175
Iteration:  20
[1 1 2 ... 1 1 0] [1 3 7 ... 1 2 2]
0.2197560975609756
Iteration:  30
[1 7 2 ... 1 1 0] [1 3 7 ... 1 2 2]
0.2585121951219512
Iteration:  40
[1 3 7 ... 1 1 0] [1 3 7 ... 1 2 2]
0.3003658536585366
Iteration:  50
[1 3 7 ... 1 1 0] [1 3 7 ... 1 2 2]
0.33731707317073173
Iteration:  60
[1 3 3 ... 1 1 2] [1 3 7 ... 1 2 2]
0.36558536585365853
Iteration:  70
[1 3 3 ... 1 1 2] [1 3 7 ... 1 2 2]
0.3881951219512195
Iteration:  80
[1 3 7 ... 1 1 2] [1 3 7 ... 1 2 2]
0.42048780487804877
Iteration:  90
[1 3 7 ... 1 1 2] [1 3 7 ... 1 2 2]
0.46870731707317076
Iteration:  100
[1 3 7 ... 1 1 2] [1 3 7 ... 1 2 2]
0.5149268292682927
Iteration:  110
[1 3 7 ... 1 1 2] [1 3 7 ... 1 2 2]
0.5493902439024391
Iteration:  120
[1 3 7 ... 1 1 2] [1 3 7 ... 1 2 2]
0.5778292682926829
Iteration:  130
[1 3 7 ... 1 1 2] [1 3 7 ... 1 2 2]
0.6023414634146341
Iteration:  140
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.6210975609756098
Iteration:  150
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.6388048780487805
Iteration:  160
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.6540243902439025
Iteration:  170
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.6674878048780488
Iteration:  180
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.6804634146341464
Iteration:  190
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.6911219512195121
Iteration:  200
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7000487804878048
Iteration:  210
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7094146341463414
Iteration:  220
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.718170731707317
Iteration:  230
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7266829268292683
Iteration:  240
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7353170731707317
Iteration:  250
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7436585365853658
Iteration:  260
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7515121951219512
Iteration:  270
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7588536585365854
Iteration:  280
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7655609756097561
Iteration:  290
[1 3 7 ... 1 8 2] [1 3 7 ... 1 2 2]
0.7725609756097561